<%= title if title %>

<div class='pure-g'>
  <% posts.each do |post| %>
    <div class='post-index pure-u-1-1'>
      <h2><%= link_to post[:title], post.path %></h2>
      <div>
        <% if post[:tags] %>
          <div class="tags">Tags:
          <% post[:tags].each.with_index do |tag, i| %>
            <%= link_for_tag(tag, 'tags/') %><%= ', ' if i < post[:tags]&.size - 1 %>
          <% end %>
          </div>
        <% end %>
      </div>
      <aside>Posted at: <%= post[:created_at]&.strftime('%b %d, %Y') %></aside>
      <article class="text">
        <%= get_post_start(post) %>
      </article>
    </div>
  <% end %>
</div>
